*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial black;
    margin: 0;
    padding: 0;
}
.heading{
    text-shadow: rgb(2, 73, 241);
    font-weight: 700px;
    font-size: 60px;
    padding: 30px;
    font-family: georgia;
    text-align: left;
    text-align: center;
}

/* Navbar section  */
.nav{
    display: flex;
    color: black;
    justify-content: space-between;
    align-items:center;
    background-color: #ffffff;
    padding: 10px 20px;
    font-weight: 600px;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
 
.nav ul li{
    margin: 0 15px;
}

ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav ul li a:hover{
    background-color: #7acedb;
    border-radius: 10%;
}
.nav ul li a::before{
    background-color: #e8eaec;
}

/* new setion for main title */
.title{
    margin-top: 5%;
    padding-left: 3%;
    font-size: 40px;
    font-family: verdana;
    display: flex;
}

.leftTitle{
    width: 50%;
}

.title1{
    color: #6c00f8;
}

.title2{
 font-size: 40px;
}

#mail{
    width: 50%;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    position: relative;
    top: 40px;
    font-family: georgia;
    font-size: 20px;
    padding-left: 40px;
}

#mailBtn{
    width: 6%;
    position: relative;
    right: 65px;
    top: 56px;
    border-radius: 50%;
}

.img img{
    image-resolution: hign;
    image-rendering: crisp-edges;
    align-content: right;
    size: 50px;
    shape-outside: none;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}