*{
    margin: 0px;
    padding: 0px;
    font-family: Sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
}

.header1 div{
    font-size: 50px;
    padding-left: 20px;
}

.header1 p{
    font-size: large;
    padding-left: 25px;
    font-weight: bolder;
    color: rgb(86, 86, 187);
}

.header2 p{
    margin-top: 45px;
    font-size: larger;
}

.header3 button{
    margin: 25px 25px 0px 0px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: transparent;
    color: rgb(86, 86, 187);
    font-weight: bolder;
    border-color: rgb(86, 86, 187);
    border-width: 3px;
}

.header3 button:hover{
    color: white;
    background-color: rgb(86, 86, 187);
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}