*{
    margin: 0px;
    padding: 0px;
}

.heading{
    background-color: skyblue;
    text-align: center;
}

.about{
    background-color: skyblue;
    text-align: center;
}

.worktable{
    align-self: center
}