body{
    font-family: Arial black;
    margin: 0;
    padding: 0;
}
.logo{
    text-shadow: rgb(2, 73, 241);
    font-weight: 700px;
    font-size: 60px;
    padding: 10px;
    font-family: georgia;
    text-align: left;
    margin-bottom: 3%;
}
.nav{
    display: flex;
    color: black;
    justify-content: space-between;
    align-items:center;
    background-color: #ffffff;
    padding: 10px 20px;
    font-weight: 600px;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
 
.nav ul li{
    margin: 0 15px;
}

ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav ul li a:hover{
    background-color: #7acedb;
}
.nav ul li a::before{
    background-color: #e8eaec;
}

.menu{
    display: flex;
}

.title{
    margin-top: 9%;
    padding-left: 10%;
    font-size: 40px;
    font-family: verdana;
}

.title1{
    color: #6c00f8;
}